---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ page.title }}
      <a
        href="{{ 'assets/pdf/cv.pdf' | relative_url }}"
        target="_blank"
        rel="noopener noreferrer"
        class="float-right"
        ><i class="fa-solid fa-file-pdf"></i
      ></a>
    </h1>
  </header>
</div>
